body {
    background-color: var(--background-light);
}

.card {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1.0rem;
}

.inner-card {
    border-radius: 0.3rem;
    border: 1px solid #e0e0e0;
    /* Subtle border */
    box-shadow: none;
    /* Remove shadow for minimalism */
    /* background-color: #f9f9f9; */
    /* Light gray background */
    margin-top: 1rem;
    /* Space between outer and inner card */
}

.inner-card-body {
    padding: 1.0rem;
}

/* Typography */
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333333;
}

.card-text {
    font-size: 1rem;
    color: #555555;
}

.cor-badge {
    display: inline-flex;
    align-items: center;
    padding: 0.1rem 0.1rem;
    /* margin: 0.2rem; */
    background-color: #efefef;
    /* Light gray background */
    border-radius: 0.25rem;
    font-size: 0.875rem;
    /* Small size */
}  

@media (min-width: 2000px) {
    .container-xxxl {
      max-width: 2000px;
    }
}
.container-xxxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}