#connectome-graph {
    width: 100%;
    /* height: 85vh; */
    height: calc(100vh - 175px); /* Adjust this value based on other UI elements */
    /* border: 1px solid #ccc; */
    /* background-color: red; */
}

@media (max-width: 768px) {
    #connectome-graph {
      height: 70vh; /* Adjust height on smaller screens */
    }
}

.select_dataset_opt {
    font-weight: normal;
    opacity: 0.5;
    margin: 0 0 0 2px;
}

/* Remove spinner buttons for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Remove spinners in Firefox */
}

/*
  Colorbar
*/
#watermark-cbar {
  position:relative;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

#connectome-legend-cbar{
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: rgba(255, 255, 255, 1.0);
  /* padding: 10px; */
  padding: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 0.5rem;
  /* border-radius: 0.75rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* font-family: Arial, sans-serif; */
  font-size: 12px;
  z-index: 1;
}

/* Container to hold the bar + vertical ticks side by side */
.legend-container-vertical {
  display: flex;       /* horizontal layout: bar on the left, labels on the right */
  align-items: stretch; /* ensures items align to the container's height */
  margin: 20px;
  /* font-family: sans-serif; */
}

/* The vertical color bar */
.colorbar-vertical {
  width: 10px;        /* narrower, since it's a vertical bar */
  height: 120px;      /* taller dimension for the bar */
  border: 1px solid #ccc;
  margin-right: 10px; /* space between the bar and the labels */
  box-sizing: border-box;
}

/* Ticks stacked vertically */
.ticks-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* spread items from top to bottom */
  height: 120px;                 /* match the bar's height */
}

/* Slight styling for the labels */
.ticks-vertical span {
  font-size: 0.85rem;
  color: #333;
  text-align: left; /* or right/center as you prefer */
}
