#col-connectome, #col-plot {
    transition: all 0.3s ease;
    background-color: var(--background-light);
}

#col-plot:fullscreen {
    overflow: scroll !important;
  }
  body:-ms-fullscreen {
    overflow: scroll !important;
  }
  body:-webkit-full-screen {
    overflow: scroll !important;
  }
  body:-moz-full-screen {
    overflow: scroll !important;
}  

#connectome-graph {
    min-height: 400px;  /* Important in flex layout so child can shrink properly. */
    overflow: hidden; /* Or 'hidden' if you don't want scrollbars */

    /* border: 1px solid black; */
    /* background-color: red; */
} 

/* 
    Hide connectome column
*/
.hidden-forced {
    display: none !important;
}

.select_dataset_opt {
    font-weight: normal;
    opacity: 0.5;
    margin: 0 0 0 2px;
}