services:  
  django:
    build:
      context: .
      dockerfile: Dockerfile
      secrets:
        - env_base
    container_name: dj
    command: >
      sh -c "gunicorn wormwideweb.wsgi:application --bind 0.0.0.0:8000"
    image: gcp_deploy
    ports:
      - "8000:8000"
    env_file:
      - ./config/default.env
secrets:
  env_base:
    file: ./config/default.env