<div class="collapse hide" id="{{prefix}}_collapseLegend">
    <div class="inner-card inner-card-body">
        <div class="d-flex gap-5 justify-content-left">
            <div class="list-group mx-0 w-auto">
                <left>
                    <h6>Encoding table legend</h6>
                </left>
                <ul>
                    <li>Encoding strength for each of the three behaviors indicates an approximation of
                        the relative variance in neural activity explained by each behavioral variable.</li>
                    <li>Forwardness and Dorsalness capture the steepness of the tuning to velocity and head curvature,
                        respectively.</li>
                    <li>Encoding timescale is the median exponentially weighted moving average (EWMA) half-decay time
                        from
                        the CePNEM model,
                        which indicates how the neuron's activity weighs past versus present behavior for the
                        parameter(s)
                        that it encodes.</li>
                    <li>For all other tunings, the number shows the time segments that significantly encoded that
                        tuning/feature:</li>

                    1: the neuron encodes the feature in the first time segment<br>
                    2: the neuron encodes the feature in the second time segment<br>
                    1,2: the neuron encodes the feature in both time segments<br>
                    Empty cell: the neuron does not encode the feature
                </ul>

                <left>
                    <h6>Neuron label legend</h6>
                </left>
                <ul>
                    <li>For neuron class with Dorsal/Ventral (D/V) and/or Left/Right (L/R) differentiation, ? notes that
                        it was not possible to determine that attribute.</li>
                    <li>Example: for RMD class, RMD?L (was not possible to determine D/V). RMD?? (was not possible to
                        determine both L/R and D/V).</li>
                </ul>
            </div>
        </div>
    </div>
</div>