{% extends 'base.html' %}
{% load static %}
{% block title %}Neural Activity{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'connectome/css/index.css' %}">
{% endblock %}

{% block main %}
<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <br>
                <img src="/static/activity/img/example_plot_neuron.webp" alt="Plot neuron example" class="img-fluid feature-image hero-image">
            </div>
            <div class="col-lg-6 mb-4">
                <h1 class="display-3 fw-bold mb-4">Encoding</h1>
                <p class="lead mb-5">Explore how each neuron class encodes various behaviors according to the CePNEM model.</p>
                <a href="#explore" class="btn btn-custom-primary btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</section>

<!-- neuron class -->
<section class="feature-section" id="explore">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="/static/activity/img/example_index_encoding_table.webp" alt="Network visualization" class="img-fluid feature-image">
            </div>
            <div class="col-lg-6">
                <h2 class="section-title">Encoding Dictionary</h2>
                <p class="section-description mb-4">Explore how each neuron class encodes various behaviors according to the CePNEM model.</p>
                <a href="{% url 'encoding-table' %}" class="btn btn-custom-primary">Explore Encoding</a>
            </div>
        </div>
    </div>
</section>

<!-- encoding    -->
<!-- <section class="feature-section">
    <div class="container">
        <div class="row align-items-center flex-lg-row-reverse">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="/static/activity/img/example_index_encoding_table.webp" alt="Encoding table screenshot" class="img-fluid feature-image">
            </div>
            <div class="col-lg-6">
                <h2 class="section-title">Encoding Dictionary</h2>
                <p class="section-description mb-4">Explore how each neuron class encodes various behaviors according to the CePNEM model</p>
                <a href="{% url 'encoding-table' %}" class="btn btn-custom-primary">Explore Encoding</a>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}