{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">
{% endblock %}

{% block main %}
<div class="container py-5">
    <!-- About Section -->
    <section>
        <div class="bg-light p-5 rounded-3">
            <h1 class="display-5 fw-bold mb-3">About</h1>

            <div class="d-flex mt-4 align-items-center">
                <div>
                    <img src="{% static 'core/img/mit-logo.svg' %}" alt="MIT Logo" style="height: 75px;">
                </div>
                <div>
                    <img src="{% static 'core/img/flavell-lab-logo-only.webp' %}" alt="Flavell Lab Logo" style="height: 60px;">
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="lead">
                        This web app was created by <a href="https://github.com/goldenratio1618" target="_blank">Adam
                            Atanas</a> and <a href="https://jungsoo.kim" target="_blank">Jungsoo Kim</a> from the <a
                            href="https://flavell.mit.edu/" target="_blank">Flavell Lab</a> at the Massachusetts
                        Institute of Technology (MIT).
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="d-flex align-items-center gap-4">
                        <div class="text-center">
                            <img src="{% static 'core/img/adam_atanas.webp' %}" class="rounded-circle" alt="Adam Atanas"
                                style="width: 100px; height: 100px; object-fit: cover;">
                            <p class="mt-2 mb-0 fw-bold">Adam Atanas</p>
                            <div class="btn-group mt-2" role="group">
                                <a href="https://www.linkedin.com/in/adam-atanas-2681a52a5/" class="btn btn-custom-secondary btn-sm">
                                    <i class="bi bi-person-circle"></i>
                                </a>
                                <a href="https://scholar.google.com/citations?user=0nZxhrYAAAAJ&hl=en" class="btn btn-custom-secondary btn-sm">
                                    <i class="bi bi-journal"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text-center">
                            <img src="{% static '/core/img/jungsoo_kim.webp' %}" class="rounded-circle" alt="Jungsoo Kim"
                                style="width: 100px; height: 100px; object-fit: cover;">
                            <p class="mt-2 mb-0 fw-bold">Jungsoo Kim</p>
                            <div class="btn-group mt-2" role="group">
                                <a href="https://jungsoo.kim" class="btn btn-custom-secondary btn-sm">
                                    <i class="bi bi-person-circle"></i>
                                </a>
                                <a href="https://scholar.google.com/citations?user=SMfD-sUAAAAJ&hl=en" class="btn btn-custom-secondary btn-sm">
                                    <i class="bi bi-journal"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-2">Additional information (experiments, methods, modeling, statistics, etc.) can be found in
                the <a href="#atanas_kim_2023">paper</a>.</p>
        </div>
    </section>

    <!-- Credit Section -->
    <section class="mt-5">
        <div class="p-4 bg-white shadow-sm rounded-3">
            <div class="col">
                <h3 class="fw-semibold">Credits</h3>
                <p class="mb-3">
                    In addition to the first authors, the following individuals contributed to this web app project:
                </p>
            </div>

            <!-- Website Development -->
            <div class="row row-cols-1 row-cols-sm-6 g-3">
                <div class="col d-flex flex-column align-items-center">
                    <img src="{% static '/core/img/alex_hiser.webp' %}" class="rounded-circle" alt="Alex Hiser"
                        style="width: 100px; height: 100px; object-fit: cover;">
                    <p class="mt-2 mb-0 fw-bold">Alex Hiser</p>
                    <div class="btn-group mt-2" role="group">
                        <a href="https://www.linkedin.com/in/alex-hiser/" class="btn btn-custom-secondary btn-sm">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>           
    </section>

    <!-- Code & Data Section -->
    <section class="row g-4 mt-3">
        <div class="col-lg-6">
            <div class="p-4 bg-white shadow-sm rounded-3">
                <h3 class="fw-semibold">Data Processing & Analysis Code</h3>
                <p class="mb-4">All software developed for this project is available below, including:</p>
                <ul class="list-unstyled">
                    <li>&#8226; The ANTSUN pipeline for extracting neural traces from GCaMP volumes</li>
                    <li>&#8226; The CePNEM model for neural trace analysis and behavioral encoding</li>
                    <li>&#8226; Stage control software for tracking worms during imaging</li>
                    <li>&#8226; Example Jupyter notebooks for data analysis and plotting</li>
                    <li>&#8226; Additional downloadable data for neural network weights, posterior distributions, and
                        more
                    </li>
                </ul>
                <a href="https://github.com/flavell-lab/AtanasKim-Cell2023" target="_blank"
                    class="btn btn-custom-primary">
                    <i class="bi bi-github"></i> Explore Code
                </a>
            </div>
        </div>
        <div id="data_repo" class="col-lg-6">
            <div class="p-4 bg-white shadow-sm rounded-3">
                <h3 class="fw-semibold">Atanas & Kim et al., 2023 Datasets</h3>
                <p>
                    If you'd like to access full datasets from the original study releasing this website, please refer to the following data
                    repository.
                    <br>
                    <br>
                    You can download all datasets at once, and the HDF5 files contain all information (i.e. behavior variables that were not included in this website) for each animal.
                    <br>
                    <br>
                    <strong>processed_h5.tar.bz2</strong> contains all datasets from Atanas & Kim et al., 2023. in HDF5.
                </p>
                <a href="https://zenodo.org/records/8185377" target="_blank" class="btn btn-custom-primary">
                    <i class="bi bi-file-earmark"></i> Data Repository
                </a>
            </div>
        </div>
    </section>

    {% include 'core/citation.html' %}
</div>
{% endblock %}