<!-- Citation and Website Section -->
<section class="row mt-5">
    <h3 class="fw-semibold">Citations</h3>
    <p>
        To cite this project (datasets, encoding data, methods, modeling, code, etc.), please refer to Atanas & Kim
        et al. 2023.
        <br>
        If you use the connectome features, please cite the Witvliet et al. 2021 and others. Please refer to the
        "Citation Details" on the section below.
        <br>
        If you use any other datasets (such as the serotonin datasets, Dag, Nwabudike & Kang et al. 2023), please
        refer to the respective papers.
    </p>
</section>
<section class="row g-4">
    <!-- atanas kim -->
    <div class="col-lg-6" id="atanas_kim_2023">
        <div class="h-100 d-flex flex-column p-4 bg-white shadow-sm rounded-3">
            <!-- Headings (stay at the top) -->
            <h4 class="fw-semibold">The original study for the WormWideWeb</h4>
            <h5 class="card-title mb-3">
                Brain-wide representations of behavior spanning multiple timescales
                and states in <i>C. elegans</i>
            </h5>

            <!-- Middle row that expands and centers its contents vertically -->
            <div class="row flex-grow-1 d-flex align-items-center mb-3">
                <div class="col-md-3">
                    <img src="/static/core/img/cell_cover.webp" class="img-fluid rounded" alt="Paper Thumbnail"
                        style="max-height: 250px; object-fit: cover; margin-right: -1rem;">
                </div>
                <div class="col-md-9">
                    <p>
                        <strong>Adam A. Atanas*</strong>,
                        <strong>Jungsoo Kim*</strong>, Ziyu Wang, Eric
                        Bueno, McCoy Becker, Di Kang, Jungyeon Park,
                        Talya S. Kramer, Flossie K. Wan, Saba Baskoylu,
                        Ugur Dag, Elpiniki Kalogeropoulou, Matthew A.
                        Gomes, Cassi Estrem, Netta Cohen, Vikash K.
                        Mansinghka, Steven W. Flavell
                    </p>
                    <p class="text-muted">* equal contribution</p>
                </div>
            </div>

            <!-- Last row, pinned to bottom via mt-auto -->
            <div class="row mt-auto">
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <div class="btn-group" role="group">
                        <a href="https://doi.org/10.1016/j.cell.2023.07.035" target="_blank"
                            class="btn btn-custom-primary">
                            Cell
                        </a>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/37607537/" target="_blank"
                            class="btn btn-custom-primary">
                            PubMed
                        </a>
                    </div>

                    <div class="btn-group" role="group">
                        <a href="https://zenodo.org/records/8185377" target="_blank" class="btn btn-custom-primary">
                            <i class="bi bi-file-earmark"></i> Data Repository
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- connectome -->
    <div class="col-lg-6" id="connectome_citation">
        <div class="h-100 d-flex flex-column p-4 bg-white shadow-sm rounded-3">
            <!-- Headings (stay at the top) -->
            <h4 class="fw-semibold">Connectome Citations</h4>
            <h5 class="card-title mb-3">
                Connectomes across development reveal principles of brain maturation
            </h5>

            <!-- Middle row that expands and centers its contents vertically -->
            <div class="row flex-grow-1 d-flex align-items-center mb-3">
                <div class="col-md-3">
                    <img src="/static/core/img/witvliet_cover.webp" class="img-fluid rounded" alt="Paper Thumbnail"
                        style="max-height: 250px; object-fit: cover; margin-right: -1rem;">
                </div>
                <div class="col-md-9">
                    <p>
                        <strong>Daniel Witvliet</strong>, Ben Mulcahy*, James K. Mitchell*, Yaron
                        Meirovitch,
                        Daniel R. Berger, Yuelong Wu, Yufang Liu, Wan Xian Koh, Rajeev Parvathala, Douglas
                        Holmyard, Richard L. Schalek, Nir Shavit, Andrew D. Chisholm, Jeff W. Lichtman,
                        Aravinthan D. T. Samuel, Mei Zhen
                    </p>
                    <p class="text-muted">* equal contribution</p>
                </div>
            </div>

            <!-- Last row, pinned to bottom via mt-auto -->
            <div class="row mt-auto">
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <div class="btn-group" role="group">
                        <a href="https://www.nature.com/articles/s41586-021-03778-8" target="_blank"
                            class="btn btn-custom-primary">
                            Nature
                        </a>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/34349261/" target="_blank"
                            class="btn btn-custom-primary">
                            PubMed
                        </a>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-custom-primary" data-bs-toggle="modal"
                            data-bs-target="#datasetsModal">Citation Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- other studies -->
<section class="row g-4 mt-1">
    <!-- 5-ht study -->
    <div class="col-lg-6" id="dag_nwabudike_kang_2023">
        <div class="h-100 d-flex flex-column p-4 bg-white shadow-sm rounded-3">
            <!-- Headings (stay at the top) -->
            <h4 class="fw-semibold">Dag, Nwabudike & Kang et al. 2023</h4>
            <h5 class="card-title mb-3">
                Dissecting the functional organization of the <i>C. elegans</i> serotonergic system at whole-brain scale
            </h5>

            <!-- Middle row that expands and centers its contents vertically -->
            <div class="row flex-grow-1 d-flex align-items-center mb-3">
                <div class="col-md-3">
                    <img src="/static/core/img/serotonin_cover.webp" class="img-fluid rounded" alt="Paper Thumbnail"
                        style="max-height: 250px; object-fit: cover; margin-right: -1rem;">
                </div>
                <div class="col-md-9">
                    <p>
                        <strong>Ugur Dag*</strong>, <strong>Ijeoma Nwabudike*</strong>, <strong>Di
                            Kang*</strong>, Matthew A. Gomes, Jungsoo Kim, Adam A. Atanas, Eric Bueno, Cassi
                        Estrem, Sarah Pugliese, Ziyu Wang, Emma Towlson, Steven W. Flavell
                    </p>
                    <p class="text-muted">* equal contribution</p>
                </div>
            </div>

            <!-- Last row, pinned to bottom via mt-auto -->
            <div class="row mt-auto">
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <div class="d-flex flex-wrap align-items-center gap-3">
                        <div class="btn-group" role="group">
                            <a href="https://www.cell.com/cell/fulltext/S0092-8674(23)00419-1" target="_blank"
                                class="btn btn-custom-primary">Cell</a>
                            <a href="https://pubmed.ncbi.nlm.nih.gov/37192620/" target="_blank"
                                class="btn btn-custom-primary">PubMed</a>
                        </div>
    
                        <div class="btn-group" role="group">
                            <a href="https://zenodo.org/records/7830052" target="_blank" class="btn btn-custom-primary">
                                <i class="bi bi-file-earmark"></i> Data Repository
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <!-- sickness study -->
    <div class="col-lg-6" id="pradhan_madan_2024">
        <div class="h-100 d-flex flex-column p-4 bg-white shadow-sm rounded-3">
            <!-- Headings (stay at the top) -->
            <h4 class="fw-semibold">Pradhan & Madan et al. 2024</h4>
            <h5 class="card-title mb-3">
                Pathogen infection induces sickness behaviors by recruiting
                neuromodulatory systems linked to stress and satiety in <i>C. elegans</i>
            </h5>

            <!-- Middle row that expands and centers its contents vertically -->
            <div class="row flex-grow-1 d-flex align-items-center mb-3">
                <div class="col-md-3">
                    <img src="/static/core/img/pradhan_madan_2024.webp" class="img-fluid rounded" alt="Pradhan Madan Paper Thumbnail"
                        style="max-height: 250px; object-fit: cover; margin-right: -1rem;">
                </div>
                <div class="col-md-9">
                    <p>
                        <strong>Sreeparna Pradhan*</strong>, <strong>Gurrein K. Madan*</strong>, Di Kang, Eric Bueno, Adam A. Atanas, Talya S. Kramer, Ugur Dag, Jessica D. Lage, Matthew A. Gomes, Alicia Kun-Yang Lu, Jungyeon Park, Steven W. Flavell                    </p>
                    <p class="text-muted">* equal contribution</p>
                </div>
            </div>

            <!-- Last row, pinned to bottom via mt-auto -->
            <div class="row mt-auto">
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <div class="btn-group" role="group">
                        <a href="https://www.biorxiv.org/content/10.1101/2024.01.05.574345v1" target="_blank"
                            class="btn btn-custom-primary">
                            bioRxiv
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>