body {
    background-color: var(--background-light);
}

.card {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.card-body {
    padding: 1.0rem;
}  

#watermark {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 12px;
}

/*
    Legend
*/
#connectome-legend {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(255, 255, 255, 1.0);
    /* padding: 10px; */
    padding: 1rem;
    /* border: 1px solid #ccc; */
    border-radius: 0.5rem;
    /* border-radius: 0.75rem; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 12px;
    z-index: 2;
}

#connectome-legend-cbar {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(255, 255, 255, 1.0);
    /* padding: 10px; */
    padding: 1rem;
    /* border: 1px solid #ccc; */
    border-radius: 0.5rem;
    /* border-radius: 0.75rem; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* font-family: Arial, sans-serif; */
    font-size: 12px;
    z-index: 1;
    min-width: 100px;
}

/* Legend items */
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

/* Legend color box */
.legend-color {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 0.5px solid #999;
}

/*
    Colorbar legend
*/
/* Container to hold the bar + vertical ticks side by side */
.legend-container-vertical {
    display: flex;
    /* horizontal layout: bar on the left, labels on the right */
    align-items: center;
    /* ensures items align to the container's height */
    margin: 20px;
    /* font-family: sans-serif; */
}

/* The vertical color bar */
.colorbar-vertical {
    min-width: 10px;
    width: 10px;
    /* narrower, since it's a vertical bar */
    height: 120px;
    /* taller dimension for the bar */
    border: 1px solid #ccc;
    margin-right: 10px;
    /* space between the bar and the labels */
    box-sizing: border-box;
}

/* Ticks stacked vertically */
.ticks-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* spread items from top to bottom */
    height: 120px;
    /* match the bar's height */
}

/* Slight styling for the labels */
.ticks-vertical span {
    font-size: 0.85rem;
    color: #333;
    text-align: left;
    /* or right/center as you prefer */
}

.vertical-label {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-orientation: sideways;
    /* or upright, depending on how you want the text to flow */
    margin: 0;
    padding: 0;
}

/*
    Spinner control
*/
/* Remove spinner buttons for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Remove spinners in Firefox */
}