#connectome-container {
    background-color: var(--background-light);
}

#connectome-graph {
    width: 100%;
    /* height: 85vh; */
    height: calc(100vh - 175px); /* Adjust this value based on other UI elements */
    /* border: 1px solid #ccc; */
    /* background-color: var(--background-light); */
}

@media (max-width: 768px) {
    #connectome-graph {
      height: 70vh; /* Adjust height on smaller screens */
    }
}

.select_dataset_opt {
    font-weight: normal;
    opacity: 0.5;
    margin: 0 0 0 2px;
}