#path-graph {
  width: 100%;
  height: 80vh;
  /* border: 1px solid #ccc; */
}

@media (max-width: 768px) {
  #path-graph {
    height: 70vh;
    /* Adjust height on smaller screens */
  }
}

.select_dataset_opt {
  font-weight: normal;
  opacity: 0.5;
  margin: 0 0 0 2px;
}

.path-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #e6e6e6;
}

/*
    Path
*/
/*   
  .path-item:hover {
    background-color: #f0f0f0; 
  } */

.path-name {
  /* font-weight: bold; */
  margin-right: 1rem;
}

.path-steps {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}