#path-graph {
  width: 100%;
  height: 80vh;
  /* border: 1px solid #ccc; */
}

@media (max-width: 768px) {
  #path-graph {
    height: 70vh;
    /* Adjust height on smaller screens */
  }
}

.select_dataset_opt {
  font-weight: normal;
  opacity: 0.5;
  margin: 0 0 0 2px;
}

#connectome-legend {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 1.0);
  /* padding: 10px; */
  padding: 1rem;
  /* border: 1px solid #ccc; */
  border-radius: 0.5rem;
  /* border-radius: 0.75rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 12px;
  z-index: 2;
}

/* Legend items */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

/* Legend color box */
.legend-color {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 0.5px solid #999;
}


.path-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #e6e6e6;
}

/*   
  .path-item:hover {
    background-color: #f0f0f0; 
  } */

.path-name {
  /* font-weight: bold; */
  margin-right: 1rem;
}

.path-steps {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}